<!doctype html>
<html lang="en">
  <head>
    <%=render Head.new(page.data[:title])%>
  </head>
  <body class="<%= page.data[:layout] %> <%= page.data[:page_class] %>">
    <main>
      <%= content %>
    </main>

        <%= render Footer.new %>
  </body>
</html>
