<!doctype html>
<html lang="en">
  <head>
    <%=render Head.new %>
  </head>
  <body class="<%= page.data[:layout] %> <%= page.data[:page_class] %>">
    <%= render Landing.new %>
    <%= render Showroom.new('images/meadow.jpg', 'A beautiful meadow') %>
    <%= render Navbar.new %>
    <%= render Tray.new %>

    <main>
      <%= content %>
    </main>

        <%= render Footer.new %>
  </body>
</html>
