<div class="card-wrapper <%= @scene %>-card">
  <div class="image-wrapper">
    <div class="card-screen hidden" id="<%= @title %>-screen"></div>
    <img class="card-image" src="<%= @image %>" alt="<%= @description %>">
    <% if link? %>
      <a href="<%= url %>"><span class="card-link"></span></a>
    <% end %>
  </div>
</div>