<div class="tray-wrapper">
  <div class="tray-screen <%= @scene %>" id="<%= @scene %>-screen">
    <div class="tray-img"></div>
    <%= render Bar.new('stories', 'caption') %>
  </div>

  <div class="tray-info-wrapper">
    <div class="card-section">
      <%= render Card.new('beargrass-opening.jpeg', 'flowering beargrass in early bloom') %>
      <%= render Card.new('beargrass-opening.jpeg', 'flowering beargrass in early bloom') %>
      <%= render Card.new('beargrass-opening.jpeg', 'flowering beargrass in early bloom') %>
    </div>
  </div>
</div>