<div class="tray-wrapper">
  <div class="tray-screen <%= @scene %>" id="<%= @scene %>-screen">
    <div class="tray-img default" id="<%= @scene %>-img"></div>
    <%= render Bar.new('stories', 'caption') %>
  </div>

  <div class="tray-info-wrapper">
    <div class="card-section">
      <div class="tray-card-wrapper" onmouseenter="cardBlur('<%= @scene %>', 0, 'Beargrass1')" onmouseleave="screenBlur('<%= @scene %>', 'Beargrass1')">
        <%= render Card.new('Beargrass1', 'beargrass-opening.jpeg', 'flowering beargrass in early bloom', @scene) %>
      </div>
      <div class="tray-card-wrapper" onmouseenter="cardBlur('<%= @scene %>', 1, 'Beargrass2')" onmouseleave="screenBlur('<%= @scene %>', 'Beargrass2')">
        <%= render Card.new('Beargrass2', 'beargrass-opening.jpeg', 'flowering beargrass in early bloom', @scene) %>
      </div>
      <div class="tray-card-wrapper" onmouseenter="cardBlur('<%= @scene %>', 2, 'Beargrass3')" onmouseleave="screenBlur('<%= @scene %>', 'Beargrass3')">
        <%= render Card.new('Beargrass3', 'beargrass-opening.jpeg', 'flowering beargrass in early bloom', @scene) %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function cardBlur(scene, index, title) {
    const screen = document.querySelector(`#${title}-screen`)
    screen.classList.remove('hidden')
    const cards = document.getElementsByClassName(`${scene}-card`)
    Array.from(cards).forEach((card, i) => {
      if (i !== index) {
        card.style.visibility = 'hidden'
      }
    })

    const bkgrnd = document.querySelector(`#${scene}-img`)
    bkgrnd.classList.add('beargrass')
  }

  function screenBlur(scene, title) {
    const screen = document.querySelector(`#${title}-screen`)
    screen.classList.add('hidden')
    const cards = document.getElementsByClassName(`${scene}-card`)
    for(card of cards) {
      card.style.visibility = 'visible'
    }

    const bkgrnd = document.querySelector(`#${scene}-img`)
    bkgrnd.classList.remove('beargrass')
  }
</script>